body {
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}


h1, h2, #questionTitle {
    color: #313740;
}

a {
    color: #3290A6;
}

a:hover {
    color: #99B8BF;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #343a40;
    color: #fff;
}

#finalScore {
    font-weight: bold;
}

span, p {
    font-family: 'Archivo', sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}

.option {
    margin: 50px;
}